<!DOCTYPE html>
{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block head %}
        <title>Thinkgroupy|Orders</title>
{% endblock head %}

{% block body_block %}
<div id="layoutSidenav_content">
<header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
        <div class="container">
            <div class="page-header-content pt-4">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto mt-4">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="activity"></i></div>
                            Orders
                        </h1>
                        <div class="page-header-subtitle">Orders overview and summary</div>
                    </div>
                </div>
            </div>
        </div>
</header>
<div class="container">
    <div class="sbp-preview-content">
        <div class="row">
            <div  style="margin-top:1%" class="col-lg-12">
            <div class="card">
                {% if orders != "no" %}
                <div class="card-header">
                    Active Orders
                </div>
                <div class="card-body">
                    {% for i in orders %}
                        <h5 class="card-title">{{i.bid.project.name}}</h5>
                        <h5>Created On : {{i.created_on}}</h5>
                        <h5>Budget : $ {{i.bid.budget}}</h5>
                    <hr>
                    {% endfor %}
                </div>
                {% else %}
                <div class="card-body">
                    <h5 class="card-title">No Active orders.</h5>
                </div>
                {% endif %}
            </div>
        </div>
        </div>
        <div class="row">
            <div  style="margin-top:1%" class="col-lg-12">
                <div class="card">
                    {% if completed != "no" %}
                    <div class="card-header">
                        Completed Orders
                    </div>
                    <div class="card-body">
                        {% for i in completed %}
                            <h5 class="card-title">{{i.order}}</h5>
                            <h5>Created by : {{i.created_by}}</h5>
                            <h5>Completed on : {{i.completed_on}}</h5>
                            <h5>Budget : $ {{i.budget}}</h5>
                        <hr>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="card-body">
                        <h5 class="card-title">No completed orders.</h5>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
