<!DOCTYPE html>
{% extends 'accounts/login_base.html' %}
{% load static %}

{% block head %}
        <title>Thinkgroupy</title>
{% endblock head %}

{% block body_block%}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
                <div class="card my-5">
                    <div class="card-body p-5 text-center"><div class="h3 font-weight-light mb-0">Password Recovery</div></div>
                    <hr class="my-0" />
                    <div class="card-body p-5">
                        {% for error in field.errors %}
                            <p style="color: red">
                                {{ error }}
                            </p>
                        {% endfor %}
                        <div class="text-center small text-muted mb-4">Enter your New Password below.</div>
                        {% if validlink %}
                            <form method="POST">
                            {% csrf_token %}
                                <div class="form-group">
                                    <label class="text-gray-600 small">Password</label>
                                    <input class="form-control form-control-solid py-4" type="password" name="new_password1" required/>
                                </div>
                                <div class="form-group">
                                    <label class="text-gray-600 small">Confirm Password</label>
                                    <input class="form-control form-control-solid py-4" type="password" name="new_password2" required/>
                                </div>
                                <div class="form-group mb-0">
                                    <button class="btn btn-primary" type="submit">Reset Password</button>
                                </div>
                            </form>
                        {% else %}
                            <p>The password reset link was invalid, possibly because it has already been used.
Please request a new password reset.</p>
                        {% endif %}
                    </div>
                    <hr class="my-0" />
                    <div class="card-body px-5 py-4">
                        <div class="small text-center">
                            New user?
                            <a href="/signup">Create an account!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}