<!DOCTYPE html>
{% extends 'accounts/login_base.html' %}

{% load static %}
{% block head %}
        <title>Thinkgroupy - signup</title>
{% endblock head %}

{% block body_block %}
{% load socialaccount %}
{% providers_media_js %}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-9">
                <div class="card my-5">
                    <div class="card-body p-5 text-center">
                        <div class="h3 font-weight-light mb-3">Create an Account</div>
                        <div class="small text-muted mb-2">Sign up using...</div>
                        <a class="btn btn-icon btn-facebook mx-1" href="{% url 'facebook_login' %}"><i class="fab fa-facebook-f fa-fw fa-sm"></i></a>
                        <a class="btn btn-icon btn-github mx-1" href="{% url 'github_login' %}"><i class="fab fa-github fa-fw fa-sm"></i></a>
                        <a class="btn btn-icon btn-google mx-1"  href="{% url 'google_login' %}"><i class="fab fa-google fa-fw fa-sm"></i></a>
                    </div>
                    <hr class="my-0" />
                    {% if messages %}
                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                        <h5 class="alert-header">Error! one of these could be the reason.</h5>
                        <li class="alert-body">☻ Your password must conatins atleast 8 characters.</li>
                        <li class="alert-body">☻ Make sure your password matches with confirm password.</li>
                        <li class="alert-body">☻ Your password must be a <strong>strong password (ex: Think@groupy#19).</strong></li>
                        <li class="alert-body">☻ Username already exist.</li>
                        <li class="alert-body">☻ Email already exist.</li>
                        <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                        </div>
                    {% endif %}
                    <div class="card-body p-5">
                        <div class="text-center small text-muted mb-4">...or enter your information below.</div>
                        <form method="POST" action="">
                        {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-gray-600 small">First name</label>
                                         <input class="form-control form-control-solid py-4" type="text" name="first_name" required/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-gray-600 small">Last name</label>
                                        <input class="form-control form-control-solid py-4" type="text" name="last_name" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-gray-600 small">Username</label>
                                        <input class="form-control form-control-solid py-4" type="text" name="username" required/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-gray-600 small">Email address</label>
                                        <input class="form-control form-control-solid py-4" type="email" name="email" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-gray-600 small">Password</label>
                                        <input class="form-control form-control-solid py-4" type="password" name="password1" required/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="text-gray-600 small">Confirm Password</label>
                                        <input class="form-control form-control-solid py-4" type="password" name="password2" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between">
                                <div class="custom-control custom-control-solid custom-checkbox">
                                    <input class="custom-control-input small" id="customCheck1" type="checkbox" required/>
                                    <label class="custom-control-label mr-3" for="customCheck1">
                                        I accept the
                                        <a href="/terms">terms &amp; conditions</a>
                                        .
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary" name="reg_user">Create Account</button>
                            </div>
                        </form>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body px-5 py-4">
                        <div class="small text-center">
                            Have an account?
                            <a href="signin">Sign in!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
