*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    color: rgb(41, 41, 41);
    font-weight: 700;
}

a{
    text-decoration: none;
    color: rgb(61, 61, 61);
}
a:hover{
    color: cornflowerblue;
    text-decoration: none;
}
h1{
    font-weight: 700;
}
.hamburger{
    display: none;
}

.menubar{
    height: 80px;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;  
    position: fixed; 
    color: rgb(61, 61, 61);
    z-index: 3;
    font-family: Poppins,sans-serif;
    transition: 0.5s all;
    margin-top: -80px;
}

.menuitems2{
    display: none;
}

.menubar.scroll{
    height: 60px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.267);
}

.logotext{
    width: 40%;
    font-family: Poppins,sans-serif;
    margin:0;
}

.menuitems{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
    list-style: none; 
    margin:0;
}

.menuitems span{
    font-weight: bold;
    font-size: 1.1rem;
}

.menuitems a{
    transition: 0.5s all ease-in-out;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif;
    margin: 0px 5px;
}


.menuitems a:hover{
    color: cornflowerblue;
    text-decoration: none;
}

@media only screen and (max-width: 798px) {
        *{
            min-width: 0;
            margin: 0;
        }
        
        .menubar{
            margin-top:0px;
        }
    
        body{
            width:100%;
            overflow: auto;
        }

        .menubar{
            position: absolute;
            top: 0;
            left: 0;
        }

        .hamburger{
            display: inline;            
            width: 20px;         
        }        
        .menuitems2{
            position: absolute;
            font-size: 14px;            
            width: 350px;
            height: 400px;
            font-weight: 600;
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            padding-left: 20px;
            flex-direction: column; 
            list-style: none;  
            background-color: #fff; 
            top: 12vh; 
            left: 50%;
            transform: translateX(-50%); 
            box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.199);
            z-index: 4;  
            overflow: hidden;   
            transition: 1s all ease-in-out;
            clip: rect(0px,600px,0px,0px);
        }

        .logotext{
            width: 70%;
            font-size: 1.2rem;
        }

        .menuitems2.click{
            clip: rect(0px,600px,800px,0px);
        } 
        
        .menuitems{
            display: none;
        }
}
