<!DOCTYPE html>
{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block head %}
        <title>Thinkgroupy</title>
{% endblock head %}
{% block body_block %}

<div id="layoutSidenav_content">
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="user"></i></div>
                            Video Call
                            <p id="typing-info"></p>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                    <div class="card">
                        <div class="card-header">You</div>
                        <div class="card-body text-center">
                            <video id="localVideo" autoplay muted></video>
                            <button onclick="mute()" class="btn bg-blue btn-md btn-rounded" style="color:black">
                                <div class="nav-link-icon"><i data-feather="volume-x"></i></div>
                            </button>
                            <button onclick="exit()" class="btn bg-blue btn-md btn-rounded" style="color:black">
                                <div class="nav-link-icon"><i data-feather="video-off"></i></div>
                            </button>
                        </div>
                    </div>
                
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header">{{ user2 }}</div>
                    <video id="remoteVideo" autoplay></video>
                </div>
            </div>
        </div>
    </div>
{% endblock %}