{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class="findjob">
    <img src="{% static 'pics/job_recruitement_01.jpg' %}" alt="">
    <div class="bggradient"></div>
    <div class="textarea">
        <p class="smalltxt">WANT TO EARN MONEY OR HIRE SOME PROFESSIONAL?</p>
        <p class="bigtxt">Find Or Post Jobs</p>
        <div class="buttondeck">
            <a href="/projects/" class="buttons">LOOKING TO EARN MONEY? <span>&#8594</span></a>
            <a href="/projects/new/" class="buttons">SEARCHING FOR TALENT?<span>&#8594</span></a>   
        </div>
    </div>
    <h1 class="foottext">Hired</h1>
</div>
<div class="whatwedo">
    <img src="{% static 'pics/job_recruitement_11-1.png' %}" alt="">
    <div class="right">
        <h1>What Is Thinkgroupy?</h1>
        <div class="carddeck">
            <div class="card">
                <h2>Connect People with the Right Talent for Them</h2>
                <p>We Make Sure You Can Make Money By Your Talent. Thereby We Let You Apply For Projects (Tasks) And Get Paid.</p>
                <a href="/projects/">BROWSE PROJECTS</a>
            </div>
            <div class="card">
                <h2>Get Your Work Done</h2>
                <p>We Understand Your Situation Of Finding A Specialists To Do Your Work. That To Even At Low Cost Thereby We Made This Community So That You Can Post Projects (Tasks) And Best Freelancers & Professionals around the world, Based On Their Expertise Can Bid And You Get The Best Results.</p>
                <a href="/projects/new/">POST PROJECT</a>
            </div>
        </div>
    </div>
</div>
<div class="webuild"> 
    <div class="indent">
        <div class="textarea"> 
            <h1>We Build Lasting Relationships<br>
                Between Freelancers<br>
                & Businesses</h1>
            <p>
                We understand the importance for both freelancers and other businesses or individual. So that they get the best work at low prices with best results. Thereby we ourselves take care of everydeal with 24*7 chat support and ticket solving resolutions.<strong> We understand your time and money</strong> thereby we just give the best of everyone i.e. for you.<br><br>
                We understand how important is it for you (Freelancers) to get payment thereby we instead of taking 20% + taxes as a commission take <strong>only 10% commission instead of 20% like Fiver,etc.</strong> Even we settle the payments as soon as we can and not like 14-20 days like other freelancing platforms such as fiverr,etc.
            </p>
            <a href="/projects/category" class="buttons createacc">LOOKING FOR A WAY TO EARN? <span>&#8594</span></a>
        </div>
        <img src="{% static 'pics/job_recruitement_13.png' %}" alt="">            
        <h1 class="foottext">Projects</h1>
    </div>         
</div>
<div class="hotlisting">
    <img src="{% static 'pics/job_recruitement_12.png' %}" alt="">
    <div class="right">
        <h1>Trending Projects</h1>                            
            <div class="box">
                <h2>Android App</h2>
                <p>We Need An Android App for a food... –<a href="projects/Programming & Tech">$1500 VIEW PROJECT</a></p>
            </div>
            <div class="box">
                <h2>Product Manager</h2>
                <p>We Want Someone To Handle Our Social Media Platforms & ... –<a href="projects/Business Services">$100 VIEW PROJECT</a></p>
            </div>
            <a href="/projects/category" class="buttons">VIEW ALL OPPORTUNITIES<span>&#8594</span></a>
    </div>
</div>
<div class="success">
    <div class="indent">
        <h2 class="head">"</h2>
        <div class="sliderdeck">
            <div class="slider">
                <div class="slide">
                    <p>“Up until the last 200 years basically everyone was a freelancer, entrepreneur or indentured. Of course entrepreneurship is a learnable skill.”</p> 
                    <h5>- Richie Norton</h5>
                </div>
                <div class="slide">
                    <p>“Freelancers have allowed us to achieve things that would have been impossible otherwise.”</p> 
                    <h5>- Beth Granai</h5>
                </div>
                <div class="slide">
                    <p>“Start where you are. Use what you have. Do what you can.”</p> 
                    <h5>― Arthur Ashe</h5>
                </div>
                <div class="slide">
                    <p>“The future starts today, not tomorrow.”</p> 
                    <h5>- Pope John Paul II</h5>
                </div>                    
            </div>
        </div>            
        <h1 class="foottext">Success</h1>            
    </div>        
</div>
<div class="trending">
    <div class="indent">
        <h1>Trending Categories</h1>
        <div class="carddeck">
            <div class="card slidleft">
                <img src="{% static 'pics/job_recruitement_04.jpg' %}" alt="">
                <a href="projects/Programming & Tech">Tech</a>
            </div>
            <div class="card slidleft">
                <img src="{% static 'pics/job_recruitement_05.jpg' %}" alt="">
                <a href="/projects/Music & Audio">Music & Audio</a>
            </div> 
            <div class="card slidleft">
                <img src="{% static 'pics/job_recruitement_03.jpg' %}" alt="">
                <a href="/projects/Business Services">Cunsulting</a>
            </div> 
            <div class="card slidleft">
                <img src="{% static 'pics/job_recruitement_07.jpg' %}" alt="">
                <a href="/projects/Content & Translation">Education</a>
            </div>
        </div>
        <a href="/projects/category" class="buttons">BROWSE ALL<span>&#8594</span></a>
    </div>        
</div>
{% endblock %}