<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<div class ="main_body bg-primary">
<div style="margin: 0% 2%; padding: 2% 0%">
<div id="draft-body-footer">
<p style="text-indent:5%;">
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> recognises the importance of maintaining your privacy. We value your privacy and appreciate your trust in us. This Privacy Policy sets out how 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> uses and protects any information that you give 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> when you use this 
<span highlight-data="webUrl" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">https://thinkgroupy.com
</span> or the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> mobile application or any other digital medium and other offline sources of our Company. 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> is committed to ensure that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, then you can be assured that it will only be used in accordance with this Privacy Policy as it describes how we treat user information we collect from you, the policies and procedures on the collection, use, disclosure and protection of your information when you use our 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform.</p>
<p style="text-indent:5%;">This Privacy Policy applies to current and former visitors to our 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform and to our online customers. By visiting and/or using our website, you agree to this Privacy Policy. 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes.</p>
<p style="text-indent:5%;">
<span highlight-data="webUrl" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">https://thinkgroupy.com
</span> is a property of 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span>, 
<span highlight-data="companyType" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">Private Limited
</span>, established under laws of India, having its registered office at 
<span highlight-data="companyType" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">Sunrise enclave , Phase 2, Bareilly
</span>, 
<span highlight-data="companyState" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">Uttar Pradesh
</span> - 
<span highlight-data="companyPin" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">243006
</span>.</p>
<br>
<p>
<span class="point">DEFINITIONS:
</span></p>
<p style="text-indent:5%;">The terms "
<span highlight-data="brandName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgroupy
</span>", "Company", "we", "us" and "our" refer to the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span>.</p>
<p style="text-indent:5%;">The term "
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform" refers to 
<span highlight-data="webUrl" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">https://thinkgroupy.com
</span> or the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> mobile application or any other digital medium and other offline sources.</p>
<p style="text-indent:5%;">The terms "you" and "your" refer to the user of the 
<span highlight-data="webUrl" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">https://thinkgroupy.com
</span>.</p>
<p style="text-indent:5%;">The term "Group" means, with respect to any person, any entity that is controlled by such person, or any entity that controls such person, or any entity that is under common control with such person, whether directly or indirectly, or, in the case of a natural person, any Relative (as such term is defined in the Companies Act, 1956 and Companies Act, 2013 to the extent applicable) of such person.</p>
<p style="text-indent:5%;">The term "Services" refers to any services offered by 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> whether on the Swiggy Platform or otherwise.</p>
<p style="text-indent:5%;">The term "Policy" refers to this Privacy Policy.</p>
<p style="text-indent:5%;">Please read this Policy before using the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform or submitting any personal information to 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span>. This Policy is a part of and incorporated within, and is to be read along with, the Terms of Use 
<span highlight-data="tncUrl" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">https://thinkgroupy.com/terms
</span>.</p>
<br>
<p>
<span class="point">INFORMATION WE COLLECT FROM YOU:
</span></p>
<p>
<span class="point-sub">Contact information:
</span>
<br>We might collect your 
<span id="sp-collection"> Name, Email, Phone, Address, IP Address
</span>.</p>
<span class="block-payment">
<p>
<span class="point-sub">Payment and billing information:
</span>
<br>We might collect your billing name, billing address and payment method when you buy a product/service. We NEVER collect your credit card number or credit card expiry date or other details pertaining to your credit card on our website. Credit card information will be obtained and processed by our online payment partner 
<span highlight-data="ppName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">razorpay
</span>.</p>
</span>
<p>
<span class="point-sub">Information you post:
</span>
<br>We collect information you post in a public space on our 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform or on a third-party social media site belonging to 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span>.</p>
<p>
<span class="point-sub">Usage and Preference Information:
</span>
<br>We collect information as to how you interact with our Services, preferences expressed and settings chosen. 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform includes the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> advertising services ("Ad Services"), which may collect user activity and browsing history within the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform and across third-party sites and online services, including those sites and services that include our ad pixels ("Pixels"), widgets, plug-ins, buttons, or related services or through the use of cookies. Our Ad Services collect browsing information including, without limitation, your Internet protocol (IP) address and location, your login information, browser type and version, date and time stamp, user agent, 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> cookie ID (if applicable), time zone setting, browser plug-in types and versions, operating system and platform, and other information about user activities on the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform, as well as on third party sites and services that have embedded our Pixels, widgets, plug-ins, buttons, or related services.</p>
<p>
<span class="point-sub">Transaction Information:
</span>
<br>We collect transaction details related to your use of our Services, and information about your activity on the Services, including the full Uniform Resource Locators (URL), the type of Services you requested or provided, comments, domain names, search results selected, number of clicks, information and pages viewed and searched for, the order of those pages, length of your visit to our Services, the date and time you used the Services, amount charged, details regarding application of promotional code, methods used to browse away from the page and any phone number used to call our customer service number and other related transaction details.</p>
<p>
<span class="point-sub">Stored information and files:
</span>
<br>
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> mobile application (
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> app) may also access metadata and other information associated with other files stored on your mobile device. This may include, for example, photographs, audio and video clips, personal contacts and address book information. If you permit the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> app to access the address book on your device, we may collect names and contact information from your address book to facilitate social interactions through our services and for other purposes described in this Policy or at the time of consent or collection. If you permit the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> app to access the calendar on your device, we collect calendar information such as event title and description, your response (Yes, No, Maybe), date and time, location and number of attendees. If you are a partner company, we will, additionally, record your calls with us made from the device used to provide Services, related call details, SMS details location and address details.</p>
<p>
<span class="point-sub">Demographic information:
</span>
<br>We may collect demographic information about you, events you like, events you intend to participate in, tickets you buy, or any other information provided by you during the use of 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform. We might collect this as a part of a survey also.</p>
<p>
<span class="point-sub">Other information:
</span>
<br>If you use 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform, we may collect information about your IP address and the browser you're using. We might look at what site you came from, duration of time spent on our website, pages accessed or what site you visit when you leave us. We might also collect the type of mobile device you are using, or the version of the operating system your computer or device is running.</p>
<br>
<p>
<span class="point">WAYS OF COLLECTING INFORMATION:
</span></p>
<p>
<span class="point-sub">We collect information directly from you:
</span></p>
<ul>
<li>We collect information directly from you when you register on 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform. We also collect information if you post a comment on 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform or ask us a question through phone or email or any other source of communication.</li>
</ul>
<span class="point-sub">We collect information from you passively:
</span>
<ul>
<li>We use tracking tools like 
<span id="sp-trackers"> Google Analytics, Google Cookies
</span> for collecting information about your usage of our website.</li>
</ul>
<span class="point-sub">We get information about you from third parties:
</span>
<ul>
<li>We may receive information about you from third parties, such as other users, partners (including ad partners, analytics providers, search information providers), or our affiliated companies or if you use any of the other websites/apps we operate or the other Services we provide. Users of our Ad Services and other third-parties may share information with us such as the cookie ID, device ID, or demographic or interest data, and information about content viewed or actions taken on a third-party website, online services or apps. For example, users of our Ad Services may also be able to share customer list information (e.g., email or phone number) with us to create customized audience segments for their ad campaigns.</li>
<li>When you sign in to 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform with your SNS account, or otherwise connect to your SNS account with the Services, you consent to our collection, storage, and use, in accordance with this Policy, of the information that you make available to us through the social media interface. This could include, without limitation, any information that you have made public through your social media account, information that the social media service shares with us, or information that is disclosed during the sign-in process. Please see your social media provider’s privacy policy and help center for more information about how they share information when you choose to connect your account.</li>
<li>If you are partner company, we may, additionally, receive feedback and rating from other users.</li>
</ul>
<br>
<p>
<span class="point">USE OF YOUR PERSONAL INFORMATION:
</span></p>
<span class="point-sub">We use information to contact you:
</span>
<ul>
<li>We might use the information you provide to contact you for confirmation of a purchase on 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform or for other promotional purposes.</li>
</ul>
<span class="point-sub">We use information to abide by the contracts:
</span>
<ul>
<li>We might use the information you provide to carry out our obligations arising from any contracts entered into between you and us and to provide you with the relevant information and services.</li>
</ul>
<span class="point-sub">We use information to respond to your requests or questions:
</span>
<ul>
<li>We might use your information to confirm your registration for rendering services we offer.</li>
</ul>
<span class="point-sub">We use information to improve our products and services:
</span>
<ul>
<li>We might use your information to customize your experience with us. This could include displaying content based upon your preferences. We might also use your information to understand our users (what they do on our Services, what features they like, how they use them, etc.), improve the content and features of our Services (such as by personalizing content to your interests), process and complete your transactions, make special offers, provide customer support, process and respond to your queries and to generate and review reports and data about, and to conduct research on, our user base and Service usage patterns. If you are a partner company, we may use the information to track the progress of your service to our customers.</li>
</ul>
<span class="point-sub">We use information to look at site trends and customer interests:
</span>
<ul>
<li>We may use your information to make our website and products better. We may combine information we get from you with information about you we get from third parties. We may use your information to provide you with information about services we consider similar to those that you are already using, or have enquired about, or may interest you. If you are a registered user, we will contact you by electronic means (e-mail or SMS or telephone) with information about these services.</li>
</ul>
<span class="point-sub">We use information for security purposes:
</span>
<ul>
<li>We may use information to protect our company, our customers, or our 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform.</li>
</ul>
<span class="point-sub">We use information for marketing purposes:
</span>
<ul>
<li>We might send you information about special promotions or offers. We might also tell you about new features or products or enroll you in our newsletter. These might be our own offers or products, or third-party offers or products we think you might find interesting. We may use the information to measure or understand the effectiveness of advertising we serve to you and others, and to deliver relevant advertising to you.</li>
</ul>
<span class="point-sub">We use information to send you transactional communications:
</span>
<ul>
<li>We might send you emails or SMS about your account or purchase of our product.</li>
</ul>
<span class="point-sub">We use information as otherwise permitted by law:
</span>
<ul>
<li>We may combine the information that we receive from third parties with the information you give to us and information we collect about you for the purposes set out above. Further, we may anonymize and/or de-identify information collected from you through the Services or via other means, including via the use of third-party web analytic tools. As a result, our use and disclosure of aggregated and/or de-identified information is not restricted by this Policy, and it may be used and disclosed to others without limitation.</li>
<li>We analyse the log files of our 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform that may contain Internet Protocol (IP) addresses, browser type and language, Internet service provider (ISP), referring, app crashes, page viewed and exit websites and applications, operating system, date/time stamp, and clickstream data. This helps us to administer the website, to learn about user behavior on the site, to improve our product and services, and to gather demographic information about our user base as a whole.</li>
</ul>
<br>
<p>
<span class="point">SHARING/DISCLOSURE/DISTRIBUTION OF YOUR INFORMATION WITH THIRD-PARTIES:
</span></p>
<span class="point-sub">We will share information with third parties who perform services on our behalf:
</span>
<ul>
<li>We may share your information with our vendors, consultants, marketing partners, research firms and other service providers or business partners, such as payment processing companies, to support our business. For example, your information may be shared with outside vendors to send you emails and messages or push notifications to your devices in relation to our Services, to help us analyze and improve the use of our Services
<span class="block-payment">, to process and collect payments
</span>.</li>
<li>We may also use vendors for other projects, such as conducting surveys or organizing sweepstakes for us. Some vendors may be located outside of India.</li>
</ul>
<span class="point-sub">We will share information with Advertisers and advertising networks:
</span>
<ul>
<li>We may work with third parties such as network advertisers to serve advertisements on the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform and on third-party websites or other media (e.g., social networking platforms). These third parties may use cookies, JavaScript, web beacons (including clear GIFs), Flash LSOs and other tracking technologies to measure the effectiveness of their ads and to personalize advertising content to you.</li>
<li>While you cannot opt out of advertising on the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform, you may opt out of much interest-based advertising on third party sites and through third party ad networks (including DoubleClick Ad Exchange, Facebook Audience Network and Google AdSense). Opting out means that you will no longer receive personalized ads by third parties ad networks from which you have opted out, which is based on your browsing information across multiple sites and online services. If you delete cookies or change devices, your ‘opt out’ may no longer be effective to fulfill the purpose for which you provide it.</li>
</ul>
<span class="point-sub">We will share information with our business partners:
</span>
<ul>
<li>This includes a third party who provide us various services. Our partners use the information we give them as described in their privacy policies.</li>
<span class="block-delivery" style="display: inline;">
<li>While you place a request to order 
<span class="sp-delivery-type">
</span> through the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform, your information is provided to us and to the vendors with whom you may choose to order. In order to facilitate your online 
<span class="sp-delivery-type">
</span> order processing, we provide your information to that vendors in a similar manner as if you had made a goods/products/food order directly with the vendors. If you provide a mobile phone number, 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> may send you text messages regarding the orders delivery status.</li>
</span>
</ul>
<span class="block-delivery" style="display: inline;">
<span class="point-sub">We will share information with Other Users:
</span>
<ul>
<li>If you are a delivery partner, we may share your name, phone number and/or profile picture (if applicable), tracking details with other users to provide them the Services.</li>
</ul>
</span>
<p>
<span class="point-sub">We may share information if we think we have to in order to comply with the law or to protect ourselves:
</span></p>
<p style="text-indent:5%;">We may also share it if a government agency or investigatory body or other companies assisting us, requests when we are:</p>
<ul>
<li>Obligated under the applicable laws or in good faith to respond to court orders and processes; or</li>
<li>Detecting and preventing against actual or potential occurrence of identity theft, fraud, abuse of Services and other illegal acts;</li>
<li>Responding to claims that an advertisement, posting or other content violates the intellectual property rights of a third party;</li>
<li>Under a duty to disclose or share your personal data in order to enforce our Terms of Use and other agreements, policies or to protect the rights, property, or safety of the Company, our customers, or others, or in the event of a claim or dispute relating to your use of our Services. This includes exchanging information with other companies and organisations for the purposes of fraud detection and credit risk reduction.</li>
</ul>
<span class="point-sub">We may share information for Internal Use or may share it with any successor to all or part of our business:
</span>
<ul>
<li>For example, if part of our business is sold we may give our customer list as part of that transaction. We may also share your information with any present or future member of our "Group" (as defined above) or affiliates for our internal business purposes</li>
</ul>
<span class="point-sub">We may share your information for reasons not described in this policy:
</span>
<ul>
<li>We may share your information other than as described in this Policy if we notify you and you consent to the sharing. We will tell you before we do this.</li>
</ul>
<br>
<p>
<span class="point">YOUR CONSENT:
</span></p>
<p style="text-indent:5%;">By using the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform and the Services provided therein, you agree and consent to the collection, transfer, use, storage, disclosure and sharing of your information as described and collected by us in accordance with this Policy. If you do not agree with the Policy, please do not use or access the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform.</p>
<br>
<p>
<span class="point">COOKIES:
</span></p>
<p style="text-indent:5%;">Our 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform and third parties with whom we partner, may use cookies, pixel tags, web beacons, mobile device IDs, "flash cookies" and similar files or technologies to collect and store information with respect to your use of the Services and third-party websites.</p>
<p style="text-indent:5%;">Cookies are small files that are stored on your browser or device by websites, apps, online media and advertisements. We use cookies and similar technologies for purposes such as:</p>
<ul>
<li>Authenticating users;</li>
<li>Remembering user preferences and settings;</li>
<li>Determining the popularity of content;</li>
<li>Delivering and measuring the effectiveness of advertising campaigns;</li>
<li>Analysing site traffic and trends, and generally understanding the online behaviours and interests of people who interact with our services.</li>
</ul>
<p style="text-indent:5%;">A pixel tag (also called a web beacon or clear GIF) is a tiny graphic with a unique identifier, embedded invisibly on a webpage (or an online ad or email), and is used to count or track things like activity on a webpage or ad impressions or clicks, as well as to access cookies stored on users’ computers. We use pixel tags to measure the popularity of our various pages, features and services. We also may include web beacons in e-mail messages or newsletters to determine whether the message has been opened and for other analytics.</p>
<p style="text-indent:5%;">To modify your cookie settings, please visit your browser’s settings. By using our Services with your browser settings to accept cookies, you are consenting to our use of cookies in the manner described in this section.</p>
<p style="text-indent:5%;">We may also allow third parties to provide audience measurement and analytics services for us, to serve advertisements on our behalf across the Internet, and to track and report on the performance of those advertisements. These entities may use cookies, web beacons, SDKs and other technologies to identify your device when you visit the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform and use our Services, as well as when you visit other online sites and services.</p>
<span class="block-cookie-policy">
<p style="text-indent:5%;">Please see our Cookie Policy here 
<span highlight-data="cookiePolicyUrl">
</span> for more information regarding the use of cookies and other technologies described in this section, including regarding your choices relating to such technologies.</p>
</span>
<br>
<p>
<span class="point">DATA SECURITY PRECAUTIONS:
</span></p>
<p style="text-indent:5%;">We have in place appropriate technical and security measures to secure the information collected by us. We use vault and tokenization services from third party service providers to protect the sensitive personal information provided by you. 
<span class="block-payment">The third-party service providers with respect to our vault and tokenization services and our payment gateway and payment processing are compliant with the payment card industry standard (generally referred to as PCI compliant service providers). You are advised not to send your full credit/debit card details through unencrypted electronic platforms.
</span> Where we have given you (or where you have chosen) a username and password which enables you to access certain parts of the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform, you are responsible for keeping these details confidential. We ask you not to share your password with anyone.</p>
<p style="text-indent:5%;">Please be aware that the transmission of information via the internet is not completely secure. Although we will do our best to protect your personal data, we cannot guarantee the security of your data transmitted through the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform. Once we have received your information, we will use strict physical, electronic, and procedural safeguards to try to prevent unauthorised access.</p>
<br>
<p>
<span class="point">Email OPT-OUT:
</span></p>
<p style="text-indent:5%;">You can opt out of receiving our marketing emails. To stop receiving our promotional emails, please email (
<span highlight-data="optOutEmail" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">contact@thinkgroupy.com
</span>). It may take about ____ days to process your request. Even if you opt out of getting marketing messages, we will still be sending you transactional messages through email and SMS about your purchases.</p>
<br>
<p>
<span class="point">THIRD PARTY SITES:
</span></p>
<p style="text-indent:5%;">The 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform may contain links to other websites. If you click on one of the links to third party websites, you may be taken to websites we do not control. Any personal information about you collected whilst visiting such websites is not governed by this Policy. 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> shall not be responsible for and has no control over the practices and content of any website accessed using the links contained on the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform. Read the privacy policy of other websites carefully as this policy does not apply to the privacy practices of those websites. We are not responsible for these third party sites.</p>
<p style="text-indent:5%;">This Policy shall also not apply to any information you may disclose to any of our service providers/service personnel which we do not require you to disclose to us or any of our service providers under this Policy.</p>
<br>
<p>
<span class="point">JURISDICTION:
</span></p>
<p style="text-indent:5%;">If you choose to visit the website, your visit and any dispute over privacy is subject to this Policy and the website's terms of use. In addition to the foregoing, any disputes arising under this Policy shall be governed by the laws of India.</p>
<span class="block-cloud" style="display: inline;">
<p style="text-indent:5%;">Further, please note that the 
<span highlight-data="legalName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">thinkgrpy services private limited
</span> Platform stores your data with the cloud platform of 
<span highlight-data="cpName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">hostinger India
</span> provided by (Name of the Service Provider), which may store this data on their servers located 
<span highlight-data="cpServerLocation" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">Outside of India
</span>. 
<span highlight-data="cpName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">hostinger India
</span> has security measures in place to protect the loss, misuse and alteration of the information, details of which are available at 
<span highlight-data="cpWebUrl" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">https://www.hostinger.in
</span>. The privacy policy adopted by 
<span highlight-data="cpName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">hostinger India
</span> are detailed in 
<span highlight-data="cpPrivacyUrl" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">https://www.hostinger.in/privacy
</span>.</p>
<p style="text-indent:5%;">In the event you have questions or concerns about the security measures adopted by 
<span highlight-data="cpName" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">hostinger India
</span>, you can contact their data protection/ privacy team/ legal team or designated grievance officer at these organisations, whose contact details are available in its privacy policy, or can also write to our Grievance Officer at the address provided above.</p>
</span>
<p style="text-indent:5%;">If you have any queries relating to the processing or usage of information provided by you in connection with this Policy or other privacy concerns, you can email us at 
<span highlight-data="contactUsEmail" style="background-color: rgba(52, 152, 219, 0); color: rgb(0, 0, 0); padding: 0px;">contact@thinkgroupy.com
</span>.</p>
</div>
</div>
</div>
{% endblock %}
