<!DOCTYPE html>
{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block head %}
        <title>{{user.username}} - profile</title>
{% endblock head %}
{% block body_block %}

<div id="layoutSidenav_content">
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="user"></i></div>
                            Account -
                            <a href="profile/{{user.profile.id}}"> {{user.username}}</a>
                            
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        {% if messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {% for message in messages %}
            <h5 class="alert-heading">{{ message }}</h5>
            {% endfor %}
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span></button>
            </div>
        {% endif %}
        {% if status %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <h5 class="alert-heading">Yipee!</h5>Profile {{ status }}
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            </div>
        {% endif %}
        {% if not request.user.profile.completed %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <li class="alert-heading">UPDATE YOUR PROFILE FIRST.</li>
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            </div>
        {% endif %}
        {% if not request.user.userphone.verified %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
            <li class="alert-heading">UPDATE YOUR <a href="/security">PHONE NUMBER HERE.</a></li>
            <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            </div>
        {% endif %}
    </header>
    <div class="container mt-4">
        <nav class="nav nav-borders">
            <a class="nav-link active ml-0" href="/editprofile">Profile</a>
            <a class="nav-link" href="/billing">billing</a>
            <a class="nav-link" href="/security">Security</a>
        </nav>
        <hr class="mt-0 mb-4" />
        <div class="row">
            <div class="col-xl-4">
                <form method="POST" action="editprofilepic" enctype="multipart/form-data">
                {% csrf_token %}
                    <div class="card">
                        <div class="card-header">Profile Picture</div>
                        <div class="card-body text-center">
                            <img class="img-account-profile rounded-circle mb-2" src="{{request.user.profile.image.url}}" alt="" />
                            <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 1 MB</div>
                            <input class="btn " type="file" name="image"/>
                             <button class="btn btn-primary" type="submit">Save changes</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-xl-8">
                <div class="card mb-4">
                    <div class="card-header">Account Details</div>
                    <div class="card-body">
                        <form method="POST" action="editprofile" enctype="multipart/form-data">
                            {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="small mb-1" for="inputFirstName">First name</label>
                                        <input class="form-control" id="inputFirstName" type="text"  name="first_name" placeholder="Enter your first name" required/>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="small mb-1" for="inputLastName">Last name</label>
                                        <input class="form-control" id="inputLastName" type="text" name="last_name" placeholder="Enter your last name" required/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label>Gender</label>
                                        <select name="gender" class="form-control" required>
                                            <option class="dropdown-item" value="Male">Male</option>
                                            <option class="dropdown-item" value="Female">Female</option>
                                            <option class="dropdown-item" value="Other">Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="small mb-1" for="inputOrgName">Organization name</label>
                                        <input class="form-control" id="inputOrgName" type="text" placeholder="Enter organization name" name="organization" required/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label class="small mb-1" for="inputLocation">Location</label>
                                        <input class="form-control" id="inputLocation" type="text"  placeholder="Enter your location" name="location" required/>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="small mb-1" for="inputBirthday">D.O.B</label>
                                        <input class="form-control" id="inputBirthday" type="date"  placeholder="Enter your birthdate" name="birth_day" required/>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">Save changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
