<!DOCTYPE html>
{% extends 'dashboard/dashboard_base.html' %}
{% load static %}

{% block head %}
        <title>Thinkgroupy-Users</title>
{% endblock head %}

{% block body_block %}
<div id="layoutSidenav_content">
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="user"></i></div>
                            Users
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="sbp-preview-content">
            <div class="row">
                {% for user in users %}
                <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="text-center">
                                    <img alt="" class="rounded-circle mt-4" src="{{user.image.url}}">
                                    <h4 class="card-widget__title text-dark mt-3">{{user.user.first_name}} <span>{{user.user.last_name}}</span></h4>
                                    <a href="/profile/{{user.id}}">View Profile</a>
                                    <p class="text-muted">{{user.organization}}</p>
                                    {% if user.followed %}
                                <a class="btn bg-danger btn-md btn-rounded" style="color:white" href="/profile/unfollow/{{user.id}}">unfollow</a>
                                 {% else %}
                                    <a class="btn bg-gradient-primary-to-secondary btn-md btn-rounded" style="color:white" href="/profile/follow/{{user.id}}">Follow</a>
                                {% endif %}         
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
</div>
{% endblock %}
